@import url("stylemenu.css");


@font-face {
    font-family: 'meethos';
    src: url(fonts/Meethos.ttf) format('truetype');
}

header, section, article{
    margin:4vw;
  }

  h1 {
    margin: 4vw;
    font-family: 'Friz';
    font-weight:600;
    font-size: 1.8rem;
    text-align: center;
  }

  h6{
    font-family: 'Meethos';
    font-weight:600;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    
  }
  .imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}

.foto{
    align-items: center;
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    transition:transform ease-in-out 0.3s;
}
.foto:hover{
    transform: scale(1.2);
}

.lista{
    font-family: 'friz';
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5em;
}

[data-modo="oscuro"] {
  background-color: #212121;
  color: #ffffff;
}

[data-modo="oscuro"] h1 {
  color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9c9c9c;
  color: #333333;
  border: none;
  cursor: pointer;
}

[data-modo="oscuro"] button {
  background-color: #d8d8d8;
  color: #444444;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}



label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="color"] {
  padding: 5px;
  margin-bottom: 10px;
}