*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}

.toggler{
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
    z-index:2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
  
  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
  
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: #751414;
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: #751414;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: #751414;
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: #751414;
}


/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu{
    background: rgb(207, 207, 207);
    width: 0%;
    height:9vh;
  
  /* APPLYING TRANSITION TO THE MENU :  */
  
    transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu{
    width: 80%;
}


/* STYLING THE LIST :  */

.menu >  div > ul{
    display: flex;
    flex-direction: row;
    position:absolute;
    padding-left: 5%;
  
  /* HIDDEN INITIALLY  :  */
  
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 0.5rem;
}

.menu > div > ul > li > a{
    color: #751414;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Meethos';
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover{
    color: rgb(170, 22, 22);
    font-size: 2.2rem;
    transition: 0.3s;
}

#vModal{
    position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 80%;
            height: 80%;
            margin: auto;
            background-color: rgba(122, 11, 11, 0.877);
            z-index: 1;
            display: none;
            
}

#vModal:target {
    display: flex;
  }

#vModal p {
    font-family: friz;
    color: white;
    width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left: 1vw;
		bottom: 0;
		right: 2%;
		margin:auto;
    text-align:left;
		font-size: 1.4em;
    font-weight: light;
    overflow:scroll;
  }

  #mostrarModal {
    display: block;
  }
  #mostrarModal{
    display: table;
    margin: auto;
    padding: 0 1em;
    border-radius: 0.5em;
  }
  #mostrarModal:hover {
    background: rgb(104, 18, 18);
  }
  
  #cerrarModal{
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 100;
    display: table;
    width: 150px;
    height: 50px;
    line-height: 25px;
    text-align: center;
    border-radius: 0.5em;
    transition: all .5s;
  }

  #usuario {
    font-size: larger;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 5%;
    margin-right: 20px;
}

[data-modo="oscuro"] {
  background-color: #212121;
  color: #ffffff;
}

[data-modo="oscuro"] h1 {
  color: #ffffff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9c9c9c;
  color: #333333;
  border: none;
  cursor: pointer;
}

[data-modo="oscuro"] button {
  background-color: #d8d8d8;
  color: #444444;
}
#fotoportada{
  display: flex;
  justify-content: center;
}
.fotoportada{
  width: 60%;
  height: 60%;
}

#textoPresentacion{
  text-align: center;
  font-family: 'meethos';
  font-weight:600;
  font-size: 1.5rem;
}

header{
  margin: 4vw;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="color"] {
  padding: 5px;
  margin-bottom: 10px;
}